.side {
  position: fixed;
  top: 70px;
  left: 0px;
  height: 700px;
  width: 70px;
  background-color: rgb(255, 255, 255);
}

.side-bar {
  display: flex;
  top: 70px;
  left: 0px;
  height: 350px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.home-icon,
.library-icon,
.subscriptions-icon,
.music-icon
{
  width:25px;
  display: block;
}
.short-icon{
  width:30px;  
  height:30px;
  display: block;
}

.home,
.shorts,
.subscriptions,
.music,
.library{
  font-size: 10px;
  margin-top: -15px;
}